/*Style dos a - back to list*/


.VerTudo {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #00838d;
    width: 200px;
    padding: 10px;
    border-radius: .5rem;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

    .button:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .button:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #39bda7;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .button:hover {
        color: #ffffff;
        border: 1px solid #39bda7;
    }

        .button:hover:before {
            top: -35%;
            background-color: #39bda7;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }

        .button:hover:after {
            top: -45%;
            background-color: #39bda7;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }


/*H1*/
h1{
    margin-top: 2rem;
    text-align: center;
}

/*Container*/
.ContainerMain {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 4rem;
}

.Form{
    text-align:center;
}

form{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


.form-control {
    width: 400px;
}