html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer{
    width: 100%;
    position: fixed;
    bottom:0;
}

.creatediv{
    text-align:center;
}

.createbtn {
    margin: 1rem auto 1rem auto;
    background-color: #00838d;
    border: none;
}

h1{
    text-align:center;
}
 .row{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-content:center;
     align-items: center;
 }

.title{
    text-align:center
}