@model projeto_final.Models.TipoSaida

@{
    ViewData["Title"] = "Cadastrar";
}

<link href="~/css/BackList.css" rel="stylesheet" />

<h1>Cadastrar tipo de saída</h1>

<hr />
<div class="ContainerMain">
    <div class="Form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoSaidaDescricao" class="control-label"></label>
                <input asp-for="TipoSaidaDescricao" class="form-control" />
                <span asp-validation-for="TipoSaidaDescricao" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Cadastrar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
    <div class="VerTudo">
        <p>Ver lista de todos os tipos de saidas cadastrados</p>
        <a asp-action="Index" class="button">Ver</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
