@model projeto_final.Models.TipoProduto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes sobre o tipo de produto</h1>

<div>
    <hr />
    <section class="row">
        <div class="tipoprodutocss">
            <h4>@Html.DisplayNameFor(model => model.TipoProdutoDescricao):</h4>
             <h5> @Html.DisplayFor(model => model.TipoProdutoDescricao)</h5>
        </div>

    </section>
</div>
<div class="btnsAdicionais">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
