@model projeto_final.Models.Cidade

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir cidade</h1>

<h3>Você tem certeza que deseja excluir isso?</h3>
<div>
    <hr />

    <section class="row">
        <div class="tipoprodutocss">
            <h4>
            @Html.DisplayNameFor(model => model.CidadeNome)
                :
            </h4>
            <h5>
            @Html.DisplayFor(model => model.CidadeNome)
            </h5>
        </div>
                <div class="tipoprodutocss">
            <h4>
            @Html.DisplayNameFor(model => model.Estado)
                :
            </h4>
            <h5>
            @Html.DisplayFor(model => model.Estado.EstadoNome)
            </h5>
        </div>
    </section>
    
    <form asp-action="Delete" class="Form">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
