@model projeto_final.Models.Pais

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Pais</h4>
    <hr />
    <section class="row">
        <div class="tipoprodutocss">
            <h4>
                @Html.DisplayNameFor(model => model.PaisNome)
                :
            </h4>
            <h5>
                @Html.DisplayFor(model => model.PaisNome)
            </h5>
        </div>
    </section>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
