@model IEnumerable<projeto_final.Models.EntradaProduto>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<h1>Relatório de entradas e saídas</h1>

<section>
    <div class="card">
        <div class="card-details">
            <p class="text-title">Card title</p>
            <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
    </div>
    <div class="card">
        <div class="card-details">
            <p class="text-title">Card title</p>
            <p class="text-body">Here are the details of the card</p>
        </div>
        <button class="card-button">More info</button>
    </div>
</section>